<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Name Ranking</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Paws & Names</h1>
    <nav>
        <a href="/">Top Ranking</a>
        <a href="/random-name">Random Generator</a>
    </nav>
</header>

<section class="ranking-container">
    <h2>Top 30 Pet Names</h2>

    <!-- 성별 필터 버튼 추가 -->
    <div class="gender-buttons">
        <button id="allButton">All</button>
        <button id="maleButton">Male</button>
        <button id="femaleButton">Female</button>
    </div>

    <!-- 열 제목 추가 -->
    <div class="ranking-header">
        <div class="header-rank">Rank</div>
        <div class="header-name">Name</div>
        <div class="header-count">Count</div>
    </div>


    <div id="ranking-list" class="ranking-list">
        <!-- 이곳에 JS로 데이터가 추가됩니다 -->
    </div>
    <button id="load-more-btn" class="load-more-btn">Load More</button>
</section>

<footer>
    <p>&copy; 2024 Pet Name Ranking</p>
    <p>Developed by <a href="https://github.com/kcm02" target="_blank">kcm02</a></p>
    <p>Data sourced from <a href="https://opendata.cityofnewyork.us/" target="_blank">NYC Open Data</a></p>
</footer>


<div id="loading" class="loading" style="display:none;">
    Loading...
</div>

<script src="/js/main-page.js"></script>
</body>
</html>
